@import './utilities.scss';
@import './variables.scss';
@import './about.scss';
@import './user.scss';
@import './tags.scss';

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: 'Raleway', sans-serif;
  background: $bg-color;
  color: $font-color;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
i {
  margin-right: 3px;
}

//nav-bar
#nav {
  background: $bg-color;
  z-index: 2;
  opacity: 0.9;
  position: fixed;
  width: 100vw;
  height: 65px;
  justify-content: space-between;
  border-bottom: 1px solid $line-color;

  &-a {
    height: 100%;
    padding: 0.5rem 1.5rem;
    border-right: 1px solid $line-color;
    cursor: pointer;
    transition: all 0.3s;

    @extend %vertical-center;
    i {
      //float: right;
      padding: 1px 1.5px;
      //border: 1.5px solid rgb(139, 139, 139);
      //border-radius: 2px;
      font-size: 1rem;
    }
    &:hover {
      color: $font-color-reverse;
      background: $main-color;
    }
    &.current {
      color: $font-color-reverse;
      background: $main-color;
    }
  }
  &-b {
    max-width: 70%;
    margin-left: 12.5%;
    text-align: center;
  }
  &-c {
    margin-right: 1rem;
    height: 100%;
    border-left: 1px solid $line-color;
    @extend %vertical-center;

    a {
      padding: 0 1.5rem;
      height: 100%;
      @extend %vertical-center;

      i {
        padding: 0.3rem;
        border: 1.8px solid rgb(129, 129, 129);
        @extend %vertical-center;
        border-radius: 50%;
      }
      &:hover {
        color: $font-color-reverse;
        background: $main-color;
        i {
          border-color: $font-color-reverse;
        }
      }
      &.current {
        color: $font-color-reverse;
        background: $main-color;
        i {
          border-color: $font-color-reverse;
        }
      }
    }
    a:nth-child(3) {
      padding: 1rem;
    }
  }
}

//main page
#main1 {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  position: relative;
  background: rgba(80, 53, 87, 0.5);
  color: $font-color-reverse;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    background: $bg-image no-repeat center center / cover;
  }

  h1 {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  a {
    padding: 1rem 1.5rem;
  }
}

#main2 {
  // width: 100vw;
  flex-direction: column;
  padding: 2rem 3rem;
  // min-height: fit-content;
  &-content {
    .item {
      background: $font-color-reverse;
      padding: 1rem;
      box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      .movieTitle {
        font-weight: 500;
        font-size: 18px;
        display: inline-block;
        padding-top: 0.5rem;
      }
    }
  }
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .genre {
    font-weight: 300;
    font-size: 13px;
  }
}
.interest {
  @extend %vertical-center;
  font-family: 'Arial';
  i {
    color: $main-color;
  }
}
.tags {
  margin-top: 1rem;
  line-height: 1.25;
  text-align: center;
  display: flex;
  flex-direction: column;
  .tag {
    margin: 3px 0;
    padding: 0.1rem 0.3rem;
    background: $main-color;
    color: $font-color-reverse;
    border: 1px solid $main-color;
    border-radius: 8px;
    font-size: 12px;
  }
}

#main3 {
  flex-direction: column;
  padding: 2rem 3rem;

  h4 {
    margin-top: 0.5rem;
  }
  &-content {
    .item {
      background: $font-color-reverse;
      padding: 1rem;
      box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      .title {
        p {
          padding: 1rem;
          text-align: center;
        }
      }
    }
  }
}

#footer {
  position: relative;
  bottom: 0;
  background: rgb(121, 121, 121);
  color: $font-color-reverse;
  height: 20vh;
  width: 100vw;
  justify-content: space-between !important;
  &-content {
    line-height: 1.5;
    font-weight: 300;
    font-size: 13px;
    .develop-name {
      font-weight: 500;
    }
  }
  &-social {
    margin-right: 2rem;
    i {
      font-size: 1.75rem;
      margin-left: 1rem;
      padding: 0.35rem;
      border: 2px solid $font-color-reverse;
      border-radius: 50%;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        color: $main-color;
        background: $bg-color;
      }
    }
  }
}
