@import './variables.scss';

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.m {
  &1 {
    margin: 1rem;
  }
  &2 {
    margin: 1rem;
  }
  &3 {
    margin: 1rem;
  }
}

.p {
  &1 {
    padding: 1rem;
  }
  &2 {
    padding: 1rem;
  }
  &3 {
    padding: 1rem;
  }
}

.parag {
  margin: 1rem auto;
  width: 35vw;
  text-align: center;
  line-height: 1.45;
  font-weight: 300;
}

.btn {
  &-light {
    background: $line-color;
    color: $font-color;
    border-radius: 5px;
    @extend %vertical-center;
    transition: all 0.3s;

    &:hover {
      background: $main-color;
      color: $font-color-reverse;
    }
  }
  &-main {
    background: $main-color;
    color: $font-color-reverse;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
      background: $line-color;
      color: $font-color;
    }
  }
}
.grid {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;

  .item {
    position: relative;
    cursor: pointer;
    background: $main-color;
    overflow: hidden;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    &::after {
      content: '';
      position: absolute;
      display: block;
      background: rgb(112, 130, 189);
      opacity: 0.5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
      transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover:after {
      transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    }
    // Scale image on hover

    &-img {
      width: 100%;
      height: 35vh;
      transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
      }
    }
    &:hover img {
      transform: scale(1.2);
    }
    &-text {
      height: inherit;
      position: relative;
      top: -100%;
      opacity: 0;
      z-index: 1;
      transform: translateY(-20%);
      transition: all 300ms cubic-bezier(0.2, 1, 0.3, 1);
      transition-delay: 300ms;
      overflow-y: hidden;

      .emoji {
        position: absolute;
        opacity: 0.8;
        //margin: 0 1.5rem;
        @extend %vertical-center;
        width: 25px;
        height: 25px;
        font-size: 13px;
        color: $font-color-reverse;
        //padding: 3px;
        background: $main-color;
        border: 2px solid $font-color-reverse;
        border-radius: 50%;
        transition: all 0.3s;
        &-heart {
          top: 3.5%;
          left: 3.5%;
        }
        &-broken {
          top: 3.5%;
          left: 13.5%;
        }
        &-plus {
          bottom: 5%;
          right: 2.5%;
        }
        i {
          margin: auto;
        }
        &:hover {
          color: $main-color;
          background: $bg-color;
          border-color: $main-color;
        }
      }
    }

    &:hover .item-text {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.7rem;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
  &:hover {
    color: $main-color;
    font-size: 1.85rem;
  }
}

.bottom-line {
  margin: auto;
  width: 70px;
  padding-bottom: 0.5rem;
  border-bottom: 1.25px solid $main-color;
}

.title {
  i {
    //height: 25px;
    animation: heartBlinker 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  }
  // padding-bottom: 0.5rem;
  // border-bottom: 1px solid $main-color;
  margin-top: 0.5rem;
  font-weight: 300;
  text-align: center;
}
@keyframes heartBlinker {
  0% {
    color: $font-color;
  }
  25% {
    color: $main-color;
  }
  50% {
    color: $font-color;
  }
  75% {
    color: $main-color;
  }
}
