$main-color: #cf7177;
$bg-color: #ebebeb;
$bg-image: url('../img/platform.jpg');
$line-color: rgb(196, 196, 196);
$font-color: rgb(61, 61, 61);
$font-color-reverse: #fff;
%vertical-center {
  display: flex;
  align-items: center;
}
