.btn-light,
.grid .item-text .emoji,
.tagBox .tag .tagName i,
#login .loginLink,
#register .loginLink,
#main-filter .filter span,
#main-filter .filter .sort-part,
#main-filter .hidden,
#main-filter .hidden div,
#nav-a,
#nav-c,
#nav-c a,
#nav-c a i,
.interest {
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 1rem;
}

.m3 {
  margin: 1rem;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 1rem;
}

.p3 {
  padding: 1rem;
}

.parag {
  margin: 1rem auto;
  width: 35vw;
  text-align: center;
  line-height: 1.45;
  font-weight: 300;
}

.btn-light {
  background: #c4c4c4;
  color: rgba(61, 61, 61, 0.85);
  border-radius: 5px;
  transition: all 0.3s;
}
.btn-light:hover {
  background: #cf7177;
  color: #fff;
}

.btn-main {
  background: #cf7177;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn-main:hover {
  background: #c4c4c4;
  color: rgba(61, 61, 61, 0.85);
}

.grid {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.grid .item {
  position: relative;
  cursor: pointer;
  background: #cf7177;
  overflow: hidden;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.grid .item::after {
  content: '';
  position: absolute;
  display: block;
  background: #7082bd;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
}
.grid .item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.grid .item-img {
  width: 100%;
  height: 35vh;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  overflow: hidden;
}
.grid .item-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.grid .item:hover img {
  transform: scale(1.2);
}
.grid .item-text {
  height: inherit;
  position: relative;
  z-index: 1;
  top: -100%;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 300ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
  overflow-y: hidden;
}
.grid .item-text .emoji {
  position: absolute;
  z-index: 3;
  opacity: 0.8;
  width: 25px;
  height: 25px;
  font-size: 13px;
  color: #fff;
  background: #cf7177;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.grid .item-text .emoji-heart {
  top: 5%;
  left: 3%;
}
.grid .item-text .emoji-broken {
  top: 5%;
  left: 12%;
}
.grid .item-text .emoji-plus {
  bottom: 5%;
  right: 3%;
}
.grid .item-text .emoji i {
  margin: auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.grid .item-text .emoji:hover {
  color: #cf7177;
  background: #ebebeb;
  border-color: #cf7177;
}
.grid .item-text .emoji-reverse {
  color: #cf7177;
  background: #ebebeb;
  border-color: #cf7177;
}
.grid .item-text .emoji-reverse:hover {
  color: #fff;
  background: #cf7177;
  border: 2px solid #fff;
}
.grid .item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.grid .item .interest {
  flex-direction: column;
}
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.7rem;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}
.logo:hover {
  color: #cf7177;
  font-size: 1.85rem;
}

.bottom-line {
  margin: auto;
  width: 70px;
  padding-bottom: 0.5rem;
  border-bottom: 1.25px solid #cf7177;
}

.title {
  margin-top: 0.5rem;
  font-weight: 300;
  text-align: center;
}
.title i {
  animation: heartBlinker 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes heartBlinker {
  0% {
    color: rgba(61, 61, 61, 0.85);
  }
  25% {
    color: #cf7177;
  }
  50% {
    color: rgba(61, 61, 61, 0.85);
  }
  75% {
    color: #cf7177;
  }
}

.btn-light,
.grid .item-text .emoji,
.tagBox .tag .tagName i,
#login .loginLink,
#register .loginLink,
#main-filter .filter span,
#main-filter .filter .sort-part,
#main-filter .hidden,
#main-filter .hidden div,
#nav-a,
#nav-c,
#nav-c a,
#nav-c a i,
.interest {
  display: flex;
  align-items: center;
}

#about1 {
  flex-direction: column;
}
#about1-bio {
  width: 70vw;
  height: 70vh;
  background: #fff;
  overflow: hidden;
}
#about1-bio-img {
  overflow: hidden;
  height: 100%;
  padding-right: 1rem;
  flex: 2;
}
#about1-bio-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#about1-bio-side {
  padding: 0 1rem;
  height: 100%;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#about1-bio-side h1 {
  margin-top: 1rem;
  text-transform: uppercase;
}
#about1-bio-side .bottom-line {
  margin-bottom: 3rem;
  border-bottom: 2px solid #cf7177;
}
#about1-bio-side h4 {
  margin-bottom: 0.5rem;
}

#about2 .fa-heart {
  font-size: 1rem;
}

#about2-skills {
  max-width: 900px;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem;
}

#about2-skill {
  padding: 0.5rem 1rem;
  margin-bottom: 0.7rem;
  background: #fff;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 rgba(95, 95, 95, 0.5);
}
#about2-skill h4 {
  font-weight: 300;
  text-align: left;
}
#about2-skill .progress {
  width: 100%;
  height: 24px;
  margin-top: 3px;
}
#about2-skill .progress div {
  border-radius: 5px;
  background: #cf7177;
  height: 100%;
}

.summary {
  padding: 1rem 2rem;
  font-size: 14px;
}

.tagBox {
  width: 75vw;
  margin: 0 auto;
}
.tagBox .tag {
  background: #fff;
  padding: 0.5rem;
}
.tagBox .tag .tagName {
  text-align: center;
  font-size: 14.5px;
  color: #fff;
  margin-bottom: 5px;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  height: 60px;
  background: #cf7177;
  border-radius: 5px;
  position: relative;
}
.tagBox .tag .tagName i {
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: visible;
  height: 1rem;
  margin-right: 2px;
  z-index: 2;
}
.tagBox .tag .people-like {
  font-size: 14px;
  justify-content: space-between;
  display: flex;
}
.tagBox .tag .people-like .interest i {
  margin: 0 2px;
  padding: 1px 3px;
  border: 2px solid #fff;
  transition: all 0.3s;
}
.tagBox .tag .people-like .interest i:hover {
  background: #cf7177;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #cf7177;
}
.tagBox .trash:hover {
  color: #333333;
}

.tagBox .tagInput form {
  width: 70%;
  display: flex;
}
.tagBox .tagInput .inputBox {
  flex: 12;
}
.tagBox .tagInput form .btn-main {
  flex: 1;
  border: none;
  padding: 6px 12px;
  margin-left: 5px;
}
.tagBox .tagInput .hashTag {
  background: #cf7177;
  color: #fff;
  padding: 5px;
  margin-left: 5px;
  margin-right: 0;
}

#login {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-box {
  text-align: center;
  padding: 1.5rem;
  margin: auto;
  background: #fff;
  width: 450px;
  height: auto;
  box-shadow: 2px 2px 1px 0 rgba(95, 95, 95, 0.5);
  flex-direction: column;
}
#login-box h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
}
#login-box .bottom-line {
  border-bottom: 2px solid #cf7177;
}
#login-box .parag {
  width: 250px;
  line-height: 1.2;
  font-size: 14px;
}
#login-box .form {
  margin: 1rem 0;
  width: 100%;
}
#login-box .form .eachForm {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#login-box .form .eachForm label {
  text-align: left;
}
#login-box .form .eachForm input {
  margin-top: 3px;
  height: 22px;
}
#login-box .condition {
  font-size: 12px;
  line-height: 1.45;
  font-weight: 300;
}
#login-box .condition a {
  color: #cf7177;
}
#login-box button {
  margin: 0.5rem 0;
  width: 100%;
  height: 40px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  border: 1px solid rgba(61, 61, 61, 0.85);
}
#login .loginLink {
  margin-top: 1rem;
  flex-direction: column;
  font-size: 14px;
}
#login .loginLink a {
  margin-top: 0.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s;
}

#register {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#register-box {
  text-align: center;
  padding: 0.5rem 1rem;
  background: #fff;
  width: 350px;
  height: auto;
  flex-direction: column;
  box-shadow: 2px 2px 1px 0 rgba(95, 95, 95, 0.5);
  margin-bottom: 1rem;
}
#register-box h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
}
#register-box .bottom-line {
  border-bottom: 2px solid #cf7177;
}
#register-box .parag {
  width: 250px;
  line-height: 1.2;
  font-size: 14px;
}
#register-box .form {
  width: 100%;
}
#register-box .form .eachForm {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#register-box .form .eachForm label {
  text-align: left;
}
#register-box .form .eachForm input {
  margin-top: 3px;
  height: 22px;
}
#register-box .condition {
  font-size: 12px;
  line-height: 1.45;
  font-weight: 300;
}
#register-box .condition a {
  color: #cf7177;
}
#register-box button {
  margin: 0.5rem 0;
  width: 100%;
  height: 40px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  border: 1px solid rgba(61, 61, 61, 0.85);
}
#register .loginLink {
  font-size: 14px;
}
#register .loginLink a {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.25rem 0.75rem;
  transition: all 0.3s;
}

.addPost input {
  height: auto !important;
  margin-bottom: 5px;
}

.addPost .guide {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
}

#main-filter {
  position: relative;
  z-index: 3;
  width: 100%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}
#main-filter .filter {
  background-color: #ebebeb;
  position: fixed;
  top: 65px;
  height: 65px;
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #c4c4c4;
  justify-content: space-between;
  padding-left: 1rem;
}
#main-filter .filter span i {
  font-size: 1.25rem;
  padding-left: 1rem;
}
#main-filter .filter .sort select {
  width: 120px;
  height: 40px;
  padding: 0.5rem 1rem;
  background: #ebebeb;
  border: 1px solid #c4c4c4;
  font-family: 'Raleway', sans-serif;
}
#main-filter .filter .sort select:focus {
  border: 1px solid #c4c4c4;
}
#main-filter .filter .sort-part {
  position: relative;
  height: 100%;
  text-align: center;
  margin-left: 1rem;
}
#main-filter .filter .sort-part:hover {
  color: #929292;
}
#main-filter .filter .sort-part .arrow {
  top: -2.5px;
  position: relative;
  font-size: 1rem;
  padding-left: 5px;
}
#main-filter .filter .toggler {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 80px;
  height: 100%;
  opacity: 0;
}
#main-filter .filter .toggler:checked + .hidden {
  transform: translateY(30px);
  opacity: 1;
  display: flex;
}
#main-filter .filter .icons {
  margin-right: 0.5rem;
  padding: 0.5rem;
}
#main-filter .filter .icons i {
  margin: auto;
  width: 40px;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  display: flex !important;
}
#main-filter .filter .not-hover:hover {
  background: #c4c4c4;
  color: rgba(61, 61, 61, 0.85);
}
#main-filter .hidden {
  position: fixed;
  top: 100px;
  left: 0;
  padding: 1rem;
  width: 100%;
  background: #ebebeb;
  justify-content: space-between;
  display: none;
  opacity: 0;
  transition: opacity, transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#main-filter .hidden div {
  cursor: pointer;
}
#main-filter .hidden div span {
  height: 40px;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  transition: all 0.3s;
}
#main-filter .hidden div span:hover {
  color: #fff;
  background: #cf7177;
}
#main-filter .hidden div i {
  height: 30px;
  font-size: 1.65rem;
  margin-right: 1rem;
  transition: all 0.3s;
}
#main-filter .hidden div i:hover {
  color: #cf7177;
}

.chart-down {
  position: relative;
  top: 0;
  z-index: 0;
}
.myBag {
  background: #bec9d8b6;
  margin-top: 1rem;
  padding: 2rem 4rem !important;
}

#space110 {
  height: 110px;
}

#space80 {
  height: 80px;
}

#mypage {
  height: 100vh;
}
#mypage .welcome {
  position: relative;
  top: 15%;
}
#mypage .welcome i {
  height: 25px;
}
#mypage .menus {
  margin: auto;
  position: relative;
  top: 20%;
  flex-direction: column;
}
#mypage .menus .menu {
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  width: 300px;
  text-transform: uppercase;
  text-align: center;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  transition: all 0.3s;
}
#mypage .menus .menu:hover {
  color: #fff;
  background: #cf7177;
}
#mypage .bottom-line {
  position: relative;
  top: 16%;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #ebebeb;
  color: rgba(61, 61, 61, 0.85);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

i {
  margin-right: 3px;
  min-height: 17px;
  min-width: 17px;
}

#nav {
  background: #ebebeb;
  z-index: 2;
  opacity: 0.9;
  position: fixed;
  width: 100vw;
  height: 65px;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}
#nav-a {
  height: 100%;
  z-index: 3;
  padding: 0.5rem 1.5rem;
  border-right: 1px solid #c4c4c4;
  cursor: pointer;
  transition: all 0.3s;
}
#nav-a i {
  padding: 1px 1.5px;
  font-size: 1rem;
}
#nav-a:hover {
  color: #fff;
  background: #cf7177;
}
#nav-a.current {
  color: #fff;
  background: #cf7177;
}
#nav-b {
  position: absolute;
  width: 100vw;
  margin: auto;
  text-align: center;
}
#nav-c {
  z-index: 3;
  margin-right: 1rem;
  height: 100%;
  border-left: 1px solid #c4c4c4;
}
#nav-c a {
  padding: 0 1.5rem;
  height: 100%;
}
#nav-c a i {
  padding: 0.3rem;
  border: 1.8px solid #818181;
  border-radius: 50%;
}
#nav-c a:hover {
  color: #fff;
  background: #cf7177;
}
#nav-c a:hover i {
  border-color: #fff;
}
#nav-c a.current {
  color: #fff;
  background: #cf7177;
}
#nav-c a.current i {
  border-color: #fff;
}
#nav-c a:nth-child(3) {
  padding: 1rem;
}

#main1 {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  position: relative;
  background: rgba(80, 53, 87, 0.5);
  color: #fff;
}
#main1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  background: url('./img/platform.jpg') no-repeat center center/cover;
}
#main1 h1 {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
}
#main1 a {
  padding: 1rem 1.5rem;
}

#main2 {
  flex-direction: column;
  padding: 2rem 3rem;
}
#main2-content .item {
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
#main2-content .item .movieTitle {
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  padding-top: 0.5rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .genre {
  font-weight: 300;
  font-size: 13px;
}

.interest {
  font-family: 'Arial';
}
.interest i {
  color: #cf7177;
}

.tags {
  margin-top: 1rem;
  line-height: 1.25;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.tags .tag {
  margin: 3px 0;
  padding: 0.1rem 0.3rem;
  background: #cf7177;
  color: #fff;
  border: 1px solid #cf7177;
  border-radius: 8px;
  font-size: 12px;
}

#main3 {
  flex-direction: column;
  padding: 2rem 3rem;
}
#main3 h4 {
  margin-top: 0.5rem;
}
#main3-content .item {
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
#main3-content .item .title p {
  padding: 1rem;
  text-align: center;
}

#footer {
  position: relative;
  bottom: 0;
  background: #797979;
  color: #fff;
  height: 20vh;
  width: 100vw;
  justify-content: space-between !important;
}
#footer-content {
  line-height: 1.5;
  font-weight: 300;
  font-size: 13px;
}
#footer-content .develop-name {
  font-weight: 500;
}
#footer-social {
  margin-right: 2rem;
}
#footer-social i {
  font-size: 1.75rem;
  margin-left: 1rem;
  padding: 0.35rem;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#footer-social i:hover {
  color: #cf7177;
  background: #ebebeb;
}
