.btn-light,
.grid .item-text .emoji,
.tagBox .tag .tagName i,
#login .loginLink,
#main-filter .filter span,
#main-filter .filter .sort-part,
#main-filter .hidden,
#main-filter .hidden div,
#nav-logo,
.interest {
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 1rem;
}

.m3 {
  margin: 1rem;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 1rem;
}

.p3 {
  padding: 1rem;
}

.parag {
  margin: 1rem auto;
  width: 35vw;
  text-align: center;
  line-height: 1.45;
  font-weight: 300;
}

.btn-light {
  background: #c4c4c4;
  color: rgba(61, 61, 61, 0.85);
  border-radius: 5px;
  transition: all 0.3s;
}
.btn-light:hover {
  background: #cf7177;
  color: #fff;
}

.btn-main {
  background: #cf7177;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn-main:hover {
  background: #c4c4c4;
  color: rgba(61, 61, 61, 0.85);
}

.grid {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.grid .item {
  position: relative;
  cursor: pointer;
  background: #cf7177;
  overflow: hidden;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.grid .item::after {
  content: '';
  position: absolute;
  display: block;
  background: #7082bd;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
}
.grid .item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.grid .item-img {
  width: 100%;
  height: 35vh;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  overflow: hidden;
}
.grid .item-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.grid .item:hover img {
  transform: scale(1.2);
}
.grid .item-text {
  height: inherit;
  position: relative;
  z-index: 1;
  top: -100%;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 300ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
  overflow-y: hidden;
}
.grid .item-text .emoji {
  position: absolute;
  z-index: 3;
  opacity: 0.8;
  width: 25px;
  height: 25px;
  font-size: 13px;
  color: #fff;
  background: #cf7177;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.grid .item-text .emoji-heart {
  top: 5%;
  left: 3%;
}
.grid .item-text .emoji-broken {
  top: 5%;
  left: 12%;
}
.grid .item-text .emoji-plus {
  bottom: 5%;
  right: 3%;
}
.grid .item-text .emoji i {
  margin: auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.grid .item-text .emoji:hover {
  color: #cf7177;
  background: #ebebeb;
  border-color: #cf7177;
}
.grid .item-text .emoji-reverse {
  color: #cf7177;
  background: #ebebeb;
  border-color: #cf7177;
}
.grid .item-text .emoji-reverse:hover {
  color: #fff;
  background: #cf7177;
  border: 2px solid #fff;
}
.grid .item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.grid .item .interest {
  flex-direction: column;
}
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.7rem;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}
.logo:hover {
  color: #cf7177;
  font-size: 1.85rem;
}

.bottom-line {
  margin: auto;
  width: 70px;
  padding-bottom: 0.5rem;
  border-bottom: 1.25px solid #cf7177;
}

.title {
  margin-top: 0.5rem;
  font-weight: 300;
  text-align: center;
}
.title i {
  animation: heartBlinker 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes heartBlinker {
  0% {
    color: rgba(61, 61, 61, 0.85);
  }
  25% {
    color: #cf7177;
  }
  50% {
    color: rgba(61, 61, 61, 0.85);
  }
  75% {
    color: #cf7177;
  }
}

.addPost input {
  height: auto !important;
  margin-bottom: 5px;
}

.addPost .guide {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
}

.chart-down {
  position: relative;
  top: 0;
  z-index: 0;
}
.myBag {
  background: #bec9d8b6;
  margin-top: 1rem;
  padding: 2rem 4rem !important;
}

#space90 {
  height: 90px;
}

#space80 {
  height: 80px;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
}

body {
  font-family: 'Raleway', 'Noto Serif KR', serif;

  background: #ebebeb;
  color: rgba(61, 61, 61, 0.85);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

i {
  margin-right: 3px;
  min-height: 17px;
  min-width: 17px;
}

#nav {
  position: fixed;
  top: 0;
  z-index: 4;
  opacity: 0.9;
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid #c4c4c4;
  background: #ebebeb;
}

#nav a {
  text-align: center;
  width: 100%;
}

#nav-menu {
  background: #ebebeb;
  z-index: 3;
  opacity: 0.9;
  position: fixed;
  top: 60px;
  width: 100vw;
  height: 40px;
  border-bottom: 1px solid #c4c4c4;
}

#nav-menu div {
  height: 100%;
  flex: 1;
  border-right: 1px solid #c4c4c4;
  cursor: pointer;
  transition: all 0.3s;
}
#nav-menu div:hover {
  color: #fff;
  background: #cf7177;
}
#nav-menu div.current {
  color: #fff;
  background: #cf7177;
}
#nav-a {
  text-align: center;
}

#nav-a i {
  padding: 1px 1.5px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  #nav {
    background: none;
    width: 10vw;
    left: 45vw;
  }
  #nav-menu {
    top: 0;
    height: 60px;
  }
  #nav-menu div {
    position: absolute;
    top: 0;
    width: 10vw;
  }
  #nav-a {
    left: 0;
  }
  #nav-b {
    border-left: 1px solid #c4c4c4;
    right: 10vw;
  }
  #nav-c {
    right: 0;
  }
}

#main1 {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  position: relative;
  background: rgba(80, 53, 87, 0.5);
  color: #fff;
}
#main1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  background: url('../img/disney.jpg') no-repeat center top/cover;
}
#main1 h1 {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Prata', serif;
  font-weight: lighter;
}
#main1 a {
  padding: 1rem 1.5rem;
}

#main2 {
  flex-direction: column;
  padding: 2rem 3rem;
}
#main2-content .item {
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
#main2-content .item .movieTitle {
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  padding-top: 0.5rem;
}
.item-info {
  display: flex;
  flex-direction: column;
}
.item-info > div {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.genre {
  font-weight: 300;
  font-size: 13px;
}

.interest {
  font-family: 'Arial';
}
.interest i {
  color: #cf7177;
}
.preview-interest {
  font-family: 'Arial';
  text-align: right;
}
.preview-interest i {
  color: #cf7177;
}
.tags {
  margin-top: 1rem;
  line-height: 1.25;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.tags .tag {
  margin: 3px 0;
  padding: 0.1rem 0.3rem;
  background: #cf7177;
  color: #fff;
  border: 1px solid #cf7177;
  border-radius: 8px;
  font-size: 12px;
}

#main3 {
  flex-direction: column;
  padding: 2rem 3rem;
}
#main3 h4 {
  margin-top: 0.5rem;
}
#main3-content .item {
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
#main3-content .item p {
  padding: 1rem;
  text-align: center;
}
#main3-content .more {
  display: block;
  padding: 0.5rem 1rem;
  background: #cf7177;
  border-radius: 5px;
  border: 1px solid #cf7177;
  color: #fff;
  transition: all 0.3s;
}
#main3-content .more:hover {
  background: #fff;
  border: 1px solid #a7a7a7;
  color: #6d6d6d;
}
#footer {
  position: relative;
  bottom: 0;
  background: #797979;
  color: #fff;
  height: 20vh;
  width: 100vw;
  justify-content: space-between !important;
}
#footer-content {
  line-height: 1.5;
  font-weight: 300;
  font-size: 13px;
}
#footer-content .develop-name {
  font-weight: 500;
}
#footer-social {
  margin-right: 2rem;
}
#footer-social i {
  font-size: 1.75rem;
  margin-left: 1rem;
  padding: 0.35rem;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#footer-social i:hover {
  color: #cf7177;
  background: #ebebeb;
}
.alert {
  position: fixed;
  top: 65px;
  left: 30%;
  width: 40vw;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  margin: 0.3rem;
  background: #cf7177;
  border-radius: 10px;
  color: #ebebeb;
  transition: all 0.3s;
  z-index: 5;
}
