.summary {
  padding: 1rem 2rem;
  font-size: 14px;
}

.side-end {
  margin-top: 5px;
  justify-content: flex-end;
  color: #808080;
}

.content-interest > span {
  display: inline-block;
  border: 1.3px solid #cf7177;
  border-radius: 5px;
  margin-left: 5px;
  padding: 2px 3px;
  min-width: 40px;
  cursor: pointer;
}
.heartbtn i {
  color: #cf7177;
}

.heartbtn:hover {
  background: #cf7177;
  color: #fff;
}

.heartbtn:hover i {
  color: #fff;
}
.whenliked {
  background: #cf7177;
  color: #fff;
}
.whenliked i {
  color: #fff !important;
}
.whenliked:hover {
  background: #fff !important;
  color: rgba(61, 61, 61, 0.85) !important;
}
.whenliked:hover i {
  color: #cf7177 !important;
}
.trash {
  margin-left: 5px;
}
.plus:hover {
  color: #cf7177;
}
.trash:hover {
  color: #cf7177;
}
.iconSelected {
  color: #cf7177;
}
.iconSelected:hover {
  color: #808080;
}
