#main-filter {
  position: relative;
  z-index: 3;
  width: 100%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}
#main-filter .filter {
  background-color: #ebebeb;
  position: fixed;
  top: 60px;
  height: 60px;
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #c4c4c4;
  justify-content: space-between;
  padding-left: 1rem;
}
#main-filter .filter span i {
  font-size: 1.25rem;
  padding-left: 1rem;
}
#main-filter .filter .sort select {
  width: 120px;
  height: 40px;
  padding: 0.5rem 1rem;
  background: #ebebeb;
  border: 1px solid #c4c4c4;
  font-family: 'Raleway', sans-serif;
}
#main-filter .filter .sort select:focus {
  border: 1px solid #c4c4c4;
}
#main-filter .filter .sort-part {
  position: relative;
  height: 100%;
  text-align: center;
  margin-left: 1rem;
}
#main-filter .filter .sort-part:hover {
  color: #929292;
}
#main-filter .filter .sort-part .arrow {
  top: -2.5px;
  position: relative;
  font-size: 1rem;
  padding-left: 5px;
}
#main-filter .filter .toggler {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 80px;
  height: 100%;
  opacity: 0;
}
#main-filter .filter .toggler:checked + .hidden {
  transform: translateY(30px);
  opacity: 1;
  display: flex;
}
#main-filter .filter .icons {
  margin-right: 0.5rem;
  padding: 0.5rem;
}
#main-filter .filter .icons i {
  margin: auto;
  width: 40px;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  display: flex !important;
}
#main-filter .filter .not-hover:hover {
  background: #c4c4c4;
  color: rgba(61, 61, 61, 0.85);
}
#main-filter .hidden {
  position: fixed;
  top: 90px;
  left: 0;
  padding: 1rem;
  width: 100%;
  background: #ebebeb;
  justify-content: space-between;
  display: none;
  opacity: 0;
  transition: opacity, transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#main-filter .hidden span {
  cursor: pointer;
}
#main-filter .hidden div span {
  height: 40px;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  transition: all 0.3s;
  text-align: center;
}
#main-filter .hidden div span:hover {
  color: #fff;
  background: #cf7177;
}
#main-filter .hidden .picked {
  color: #fff;
  background: #cf7177;
}
#main-filter .hidden div i {
  height: 30px;
  font-size: 1.65rem;
  margin-right: 1rem;
  transition: all 0.3s;
}
#main-filter .hidden div i:hover {
  color: #cf7177;
}
