#mypage {
  height: 100vh;
}
#mypage .welcome {
  position: relative;
  top: 15%;
}
#mypage .welcome i {
  height: 25px;
}
#mypage .menus {
  margin: auto;
  position: relative;
  top: 20%;
  flex-direction: column;
}
#mypage .menus .menu {
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  width: 300px;
  text-transform: uppercase;
  text-align: center;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  transition: all 0.3s;
}
#mypage .menus .menu:hover {
  color: #fff;
  background: #cf7177;
}
#mypage .bottom-line {
  position: relative;
  top: 16%;
}
