.tagBox {
  width: 75vw;
  margin: 0 auto;
}
.tagBox .tag {
  background: #fff;
  padding: 0.5rem;
}
.tagBox .tag .tagName {
  text-align: center;
  font-size: 14.5px;
  color: #fff;
  margin-bottom: 5px;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  height: 60px;
  background: #cf7177;
  border-radius: 5px;
  position: relative;
}
.tagBox .tag .tagName i {
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: visible;
  height: 1rem;
  margin-right: 2px;
  z-index: 2;
}
.tagBox .tag .people-like {
  font-size: 14px;
  justify-content: space-between;
  display: flex;
}
.tagBox .tag .people-like .interest i {
  margin: 0 2px;
  padding: 1px 3px;
  border: 2px solid #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.tagBox .tag .people-like .interest i:hover {
  background: #cf7177;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #cf7177;
}
.tagBox .tag .people-like .clicked {
  background: #cf7177;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #cf7177 !important;
}
.tagBox .tag .people-like .clicked:hover {
  background: #fff !important;
  color: #cf7177 !important;
  border: 2px solid #fff !important;
}

.tagBox .tagInput form {
  width: 70%;
  display: flex;
}
.tagBox .tagInput .inputBox {
  flex: 12;
}
.tagBox .tagInput form .btn-main {
  flex: 1;
  border: none;
  padding: 6px 12px;
  margin-left: 5px;
}
.tagBox .tagInput .hashTag {
  background: #cf7177;
  color: #fff;
  padding: 5px;
  margin-left: 5px;
  margin-right: 0;
}
